* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

img {
  border: 0; }

figure {
  margin: 0; }

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */
body {
  font-family: sans-serif; }

p {
  line-height: 1.5;
  margin: 0 0 1.5em 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

small {
  font-size: 80%; }

a {
  color: blue; }

abbr {
  font-size: 85%; }

address {
  display: inline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  text-rendering: optimizelegibility; }

ul, ol {
  padding: 0;
  margin: 0 0 1.5em 1em; }

li {
  line-height: 1.5; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ============================================================================================== */
/* Demo Styles - Do most, if not all, of your work here.                                          */
/* ============================================================================================== */

/* Set up body and container padding/widths/etc */
body {
  font-family: 'PT Sans', serif;  
  padding: 0; 
  margin: 0; 
}

.hero {
  width:100%;
  margin:0;
  text-align: center;
  background-color: #D6D6D6;
}

.hero img {

}

.body-img {
  margin:auto;
  margin-bottom: 1.875em;
  text-align: center;
}

.container {
  width: 100%; 
  max-width: 700px; 
  margin: 0 auto; 
  padding: 0; }

/*  GRID OF FIVE   ============================================================================= */

.span_5_of_5 {
  width: 100%;
}

.span_4_of_5 {
    width: 79.68%; 
}

.span_3_of_5 {
    width: 59.36%; 
}

.span_2_of_5 {
    width: 39.04%;
}

.span_1_of_5 {
    width: 18.72%;
}


/*  TYPOGRAPHY ============================================================================= */

h1 {
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  font-size: 3.6em;
  line-height:1.2;
  margin-top: 5%}

h2 {
  font-family:'Arvo', sans-serif; 
  font-size: 2.225em;
  font-weight: 400;
  line-height: 1.25;
  margin: 1% 0; 
}

h3 {
  font-family: 'Arvo', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.25;
  margin: 1% 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375em; 
  line-height: 1.6;
  margin-bottom: 1.6em;
  font-weight: 200;
  color: #404040;
}

ol {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375em; 
  line-height: 1.6;
  font-weight: 200;
  color: #404040;
}

a {
  color: #FA4B2A;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

img {
  max-width:100%;
}

address {
  font-size: 1.25em;
  color:#FA4B2A;;
}

time {
  font-size: 0.77em;
}

/*  CLASS STYLES ============================================================================= */

.pull-quote{  
  font-family: 'PT Sans', sans-serif;
  margin: 2.5%; 
  padding: 0.5%;
  font-size: 2.02em; 
  line-height: 1.5em; 
  color: #FA4B2A;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-style: italic; 
}

.italic {
  font-style: italic;
}

.post-list {
  margin-bottom: 30px;
}

.post-list>li {
  margin-left: 30px;
  margin-bottom: 18px;
}

.left {
  float: left;
}

.right {
  float:right;
}

.center {
  text-align: center;
}



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */


@media only screen and (max-width: 700px) {
  .span_5_of_5 {
    width: 100%; 
  }
  .span_4_of_5 {
    width: 100%; 
  }
  .span_3_of_5 {
    width: 100%; 
  }
  .span_2_of_5 {
    width: 100%; 
  }
  .span_1_of_5 {
    width: 100%; 
  } 
  .col { 
    margin: 1% 0 1% 0%;
  }


  body {
    padding:0 10% 0 10%;
  }

  h1 {
    font-size: 2.02em;
  }
  h2 {
    font-size: 1.375em;
  }

  h3 {
    font-size: 1.25em;
    
  }

  p {
    font-size: 1.25em;
    line-height: 1.7em;
    margin-bottom: 1em;
  }

  ol {
    font-size: 1.25em;
    line-height: 1.7em;
    margin-bottom: 1em;
  }

  img {
    text-align: center;
    margin: 3% 0;
  }

  address {
  font-size: 1em;
  }

  .pull-quote {
    font-size: 1.4em;
    padding:0;
    margin:2% 0;
    text-align: left;
  }
}

/*===============================================================================================*/

article header {
  margin-bottom: 1.5em; }

figure {
  margin-bottom: 1.5em; }

aside {
  margin-bottom: 1.5em; }

figure img {
  max-width: 100%; }

article footer p {
  text-align: center;
  margin-bottom: 0.5em; }


/* Helper Classes =============================================================================== */
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block !important; }

.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

 

