/* =================================================================================================
Grid
================================================================================================= */
$max-width:       1000px; // set page max-width
$column-width:    15%;    // set column width
$gutter-width:    2%;     // set gutter width
$maximum-columns: 6;      // set max number of columns