// Variables ===================================================================================== /

// White - Black
$black:                       #000;
$white:                       #fff;

// Typography variables
$base-color:                  $black;
$font-family:                 sans-serif;
$line-height:                 1.375; // establish a consistent line-height equal to 22px
$vertical-measure:            1.375em; // establish a vertical distance for margins equal to line-height